<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
<!--        이건 승훈코드 내코드아니야-->
        <!--<setting name="mapCamelCaseToUnderScore" value="true"/>-->
<!--        이게 되는거-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="user.bean.UserDTO" alias="user" />
    </typeAliases>
</configuration>